#bg {
    -fx-background-color: linear-gradient(to bottom, white 65%,  transparent 100%);
    -fx-opacity: 1;

}

#ap {
    -fx-background-image: url("noJMU4.jpg");
    -fx-background-repeat: no-repeat, repeat;
    -fx-background-size: cover;
}

TextField, PasswordField{
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #5e5ee7;
    -fx-background-color: transparent;
}
